<a href="https://colab.research.google.com/github/MahetsiEdhai/NETFLIX/blob/main/NETFLIX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

****1. IMPORTAMOS NUESTRO CONJUNTO DE DATOS QUE SE OBTUBO DESDE KEAGGLE, PERO PRIMERO IMPORTAMOS LAS LIBRERIAS REQUERIDAS****

In [ ]:
import pandas as pd
datos = pd.read_csv("8. Netflix Dataset.csv")
print(datos.head())

2. INTENTAREMOS OBTENER INFORMACION BASICA

In [ ]:
datos.head() #muestra los primero 5 elementos del DF

In [ ]:
datos.tail() #muestra los ultimos 5 elementos del DF

In [ ]:
datos.shape #muestra el numero de filas y columnas

In [ ]:
datos.size # muestra el numero total de elementos del DF

In [ ]:
datos.columns # muestra el nombre de cada columna del DF

In [ ]:
datos.dtypes # muestra el tipo de dato de cada columna

In [ ]:
datos.info() # muestra indices, columnas, tipos de datos de cada columna, memoria en uso

***TAREA 1: ¿EXISTE ALGUN REGISTRO DUPLICADO EN NUESTRO DATA SET? DE SER ASI ELIMINAR ESOS REGISTROS DUPLICADOS***

In [ ]:
datos.head()

In [ ]:
datos.shape

In [ ]:
datos[datos.duplicated()] #para verificar la fila unica y detectar sus filas duplicadas; las filas que se muestran son las duplicadas

In [83]:
datos.drop_duplicates(inplace = True) # eliminamos las filas duplicadas, encontradas con el comando anterior tambien se puede usar datos.drop_duplicates(inplace=TRUE)

In [ ]:
datos[datos.duplicated()]

In [ ]:
datos.shape #observamos que ya se han eliminado las dos filas repetidas

***TAREA 2: ¿EXISTE ALGUN DATO NULO EN NUESTRO DATA SET? MOSTRARLO CON UN MAPA DE CALOR***

In [ ]:
datos.head()

In [ ]:
datos.isnull() # muestrasi es que hay valores nulos

In [ ]:
datos.isnull().sum() #muestra los valores nulos de cada columna

****diagrama de calor de los valores nulos****

In [89]:
import seaborn as sns #importamos la libreria

In [ ]:
sns.heatmap(datos.isnull())

***PREGUNTA 1. EN "HOUSE OF CARDS ¿CUAL ES EL ID DEL PROGRAMA Y QUIEN ES EL DIRECTOR?***

In [ ]:
datos.head()

In [ ]:
datos["Title"] # muestra los registros de una columna en especifico

In [ ]:
datos["Title"].isin(["House of Cards"]) # muestra un dato especifico de la columna si es que existe

In [ ]:
datos[datos["Title"].isin(["House of Cards"])] #Solo muestra la coincidencia que le indico

In [ ]:
datos[datos['Title'].str.contains("House of Cards")] # HACE EXACTAMENTE LO MISMO QUE EL CODIGO ANTERIRO

***TAREA 2 ¿EN QUE AÑO SE ESTRENO EL MAYOR NUMERO DE PROGRAMAS DE TELEVISION Y PELICULAS? MOSTRAR CON UN DIAGRAMA DE BARRAS***

In [ ]:
datos.dtypes

In [97]:
datos['Datos_N'] = pd.to_datetime(datos['Release_Date']) #creamos una nueva columna llamada Datos_N

In [ ]:
datos.head()

In [ ]:
datos.dtypes

In [ ]:
datos['Datos_N'].dt.year.value_counts() #cuenta las ocurrencias de todos los años individuales en las columnas de datos

****GRAFICAMOS****

In [ ]:
datos['Datos_N'].dt.year.value_counts().plot(kind = "bar")

****TAREA 3 ¿CUANTAS PELICULAS Y PROGRAMAS DE TELEVISION HAY EN EL DATASET? REALIZA UN DIAGRAMA DE BARRAS ****

In [ ]:
datos.head(2)

In [ ]:
datos.groupby('Category')

In [ ]:
datos.groupby('Category').Category.count() # agrupa todos los elementos unicos de una columna y los cuenta

In [ ]:
sns.countplot(x=datos['Category'])

****PREGUNTA 4. MUESTRA TODAS LAS PELICULAS QUE SE ESTRENARON EN EL AÑO 2000****

In [ ]:
datos.head(2)

In [113]:
datos['Year'] = datos['Datos_N'].dt.year

In [ ]:
datos.head(2)

*****FILTRAMOS*****

In [ ]:
datos[(datos['Category']=='Movie') & (datos['Year']==2020)] #de la columna Category seleccionamos solo a Movie y de la columna Year solo 2020

****PREGUNTA 5. MOSTRAR TODOS LOS PROGRAMAS DE TELEVISION QUE SE LANZARON SOLO EN MEXICO****

In [136]:
datos.head(2)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Datos_N,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020.0
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016.0

In [ ]:
datos[(datos['Category']=='TV Show') & (datos['Country']=='Mexico')] # muestra los TV Shows solo de mexico

In [ ]:
datos[(datos['Category']=='TV Show') & (datos['Country']=='Mexico')]['Title'] #muestra solo los titulos que es loq ue necesitamos

****PREGUNTA 6. MOSTRAR EL TOP 10 DE DIRECTORES CON MAYOR CANTIDAD DE PROGRAMAS Y PELICULAS EN NETFLIX****

In [ ]:
datos['Director'].value_counts().head(10) # seleccionamos la columna director y hacemos un conteo mostrandonos los 10 primeros

****PREGUNTA 7. MOSTRAR LOS REGISTROS DONDE LA CATEGORIA SEA MOVIE Y EL TIPO SEA COMEDIES O DONDE EL COUNTRY SEA UNITED KINGDOM****

In [ ]:
datos.head(2)

In [ ]:
datos[ (datos['Category']=='Movie') & (datos['Type']=='Comedies') ] # filtramos Movies que sean de Comedies

In [ ]:
datos[ (datos['Category']=='Movie') & (datos['Type']=='Comedies') | (datos['Country']=='United Kingdom') ] # usamos operador OR  "|"

****Pregunta 8. ¿En cuantas peliculas o programas dentro del cast estuvo Tom Cruise?****

In [146]:
datos.head(2)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Datos_N,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020.0
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016.0

In [152]:
datos[datos['Cast'] == 'Tom Cruise']

Empty DataFrame
Columns: [Show_Id, Category, Title, Director, Cast, Country, Release_Date, Rating, Duration, Type, Description, Datos_N, Year]
Index: []

In [ ]:
datos[datos['Cast'].str.contains('Tom Cruise')] # tendremos errores ya que en la columna Cast existen valores nulos o faltantes

In [157]:
datos_new = datos.dropna() # creamos nuevo DF descartando las filas que contienen todos o cualquier valor faltante

In [ ]:
datos_new.head(2)

In [ ]:
datos_new[datos_new['Cast'].str.contains('Tom Cruise')] #hemos corregido el error de los valores faltantes, volvemos a usar el mismo codigo que tenia error para comprobar

****PREGUNTA 9. ¿Cuales son los diferentes raitings definidos por Netflix?****

In [ ]:
datos.head(2)

In [ ]:
datos.Rating.nunique() #RETORNA EL NUMERO DE ELEMENTOS UNICOS DEL OBJETO, NOS REGRESA UN ESCALAR

In [ ]:
datos.Rating.unique() #RETORNA LOS VALORES UNICOS DE CADA UNO DE LOS ELEMENTOS ANTERIORES

****PREGUNTA 9.1 ¿CUANTAS PELICULAS OBTUVIERON UN RATING "TV-14 EN CANADA?****

In [ ]:
datos.head(2)

In [ ]:
datos[(datos['Category']=='Movie') & (datos['Rating']=='TV-14')].shape

In [ ]:
datos[(datos['Category']=='Movie') & (datos['Rating']=='TV-14') & (datos['Country']=='Canada')].shape #cumplimos las tres condiciones peliculas, TV-14 y Canada, son 11 peliculas

****PREGUNTA 9.1 ¿CUANTOS PROGRAMAS DE TELEVISION OBTUVIERON UN RATING "R" DESPUES DEL AÑO 2018?****

In [ ]:
datos.head(2)

In [ ]:
datos[(datos['Category']=='TV Show') & (datos['Rating']=='R') & (datos['Year']>2018)].shape #tenemos las tres condiciones requeridas

In [ ]:
datos[(datos['Category']=='TV Show') & (datos['Rating']=='R') & (datos['Year']>2018)] #obtenemos mayor detalle del programa

****PREGUNTA 10. ¿CUAL ES LA MAXIMA DURACION DE UN PROGRAMA O PELICULA EN NETFLIX?****

In [ ]:
datos.head(2)

In [ ]:
datos.Duration.unique()

In [ ]:
datos.Duration.dtypes #tienen formato de objeto 'o'

In [188]:
datos[['Minutes', 'Unit']] = datos['Duration'].str.split(' ', expand = True) #creamos dos nuevas columnas donde partimos la duracion

In [ ]:
datos.head(2)

In [ ]:
datos['Minutes'].max()

In [193]:
datos.Minutes.min()

'1'

****PREGUNTA 11. ¿QUE PAIS TIENE EL MAYOR NUMERO DE PROGRAMAS DE TELEVISION?****

In [ ]:
datos.head(2)

In [197]:
datos_tvshows = datos[(datos['Category']=='TV Show')] #creamos nuevo DF donde solo aparezcan los TV Shows

In [ ]:
datos_tvshows.head(2)

In [ ]:
datos_tvshows['Country'].value_counts()

In [ ]:
datos_tvshows['Country'].value_counts().head(1)

****PREGUNTA 12. ¿COMO PODEMOS ORDENAR EL DATASET POR AÑO?****

In [ ]:
datos.head(2)

In [ ]:
datos.sort_values(by='Year').head(2)

In [ ]:
datos.sort_values(by='Year', ascending=False)

****PREGUNTA 13. eNCUENTRA TODAS LAS INSTANCIAS DONDE:
LA CATEGORIA ES MOVIE Y EL TIPO ES DRAMA O LA CATEGORIA ES TV SHOW Y EL TIPO ES KIDS TV****

In [ ]:
datos.head()

In [ ]:
datos.Type.unique()

In [ ]:
datos[(datos['Category']=='Movie') & (datos['Type']=='Dramas')]

In [ ]:
datos[(datos['Category']=='TV Show') & (datos['Type']=="Kids' TV")]

In [ ]:
datos[(datos['Category']=='Movie') & (datos['Type']=='Dramas') | (datos['Category']=='TV Show') & (datos['Type']=="Kids' TV")]